body
{
    background-color: lightblue;
}

div.Estilo
{
    font-size: 20px;
}

h2
{
    text-decoration: underline;
    color: white;
}

p.Parrafo1
{
    color: navy;
    font-weight: bold;
}

p.Parrafo2
{
    text-transform: uppercase;
    text-align: justify;
}

p.Parrafo3
{
    font-style: italic;
    font-size: 12px;
}