.main-title 
{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 4em; 
    text-align: center;
    margin-top: 24px;
    letter-spacing: 3px;
}

h1.main-title 
{
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

body
{
    font-family: "Roboto", sans-serif;
    background-color: #111;
    color: #ecf0f1;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle 
{
    font-family: "Montserrat", sans-serif;
    color: #f39c12;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 20px;
}

.imagen
{
    width: 80%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.intro
{
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin: 0 auto 20px auto;
}

.Temporadas
{
    font-size: 1.4em;
    color: yellow;
    text-align: left;
    margin-bottom: 10px;
}

.imagen2
{
    width: 80%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.imagen, .imagen2 
{
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 8px;
}

.imagen:hover, .imagen2:hover 
{
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.Personajes
{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #1abc9c;
    text-align: center;
    margin-top: 30px;
}

header {
    background-color: #111; 
    color: white;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #f39c12;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

footer p 
{
    margin: 0;
    font-size: 0.9em;
}

nav {
    background-color: #1abc9c;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li 
{
    display: inline;
}

nav ul li a 
{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
    padding: 10px 20px;
    background-color: #1abc9c;
    border-radius: 30px;
}

nav ul li a:hover 
{
    color: #f39c12;
    color: #111;
    box-shadow: 0 5px 15px rgba(231, 97, 8, 0.3);
}