body 
{
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

h1 
{
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 
{
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.container 
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}


.guia 
{
    flex: 1;
    text-align: center;
}


ul 
{
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li 
{
    margin: 40px 0;
    
}

a 
{
    text-decoration: none;
    font-size: 18px;
    color: #008CBA;
    padding: 12px 25px;
    border: 2px solid #008CBA;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

a:hover 
{
    background-color: #008CBA;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
