@import url(https://fonts.googleapis.com/css?family=Muli);

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Muli", sans-serif;
    text-align: justify;
}

header
{
    background: #16A085;
    height: 130px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer
{
    margin-top: 20px;
    background: #16A085;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

header div, footer div
{
    width: 80%;
    margin: 0 auto;
    color: white;
}

h1
{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

h2
{
    font-size: 2rem;
}

section
{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}

section article
{
    font-size: 0.9rem;
    height: 340px;
    width: 32.33%;
    float: left;
    margin: 0.5%;
    border: 2px dashed #16A085;
    padding: 1%;
    box-sizing: border-box;
    overflow: hidden;
}

section article img
{
    height: 180px;
    max-width: 80%;
    margin: 5px auto;
    display: block;
}

h3
{
    text-align: center;
}

footer div
{
    padding-top: 1rem;
}

section article:nth-child(2)
{
    background-color: rgba(70, 130, 180, 0.9);
    position: static;
    left: 100px;
    top: 50px;
    display: none;
}

/*A partir del comportamiento visto, explique ¿Cuáles son las diferencias entre el
posicionamiento relativo y absoluto?
Relativo es cuando el objeto se posiciona en su lugar donde nosotros pongamos en un div, section, p,..etc,
osea donde lo habia  puesto pero ocupando las propiedades left, right, top, bottom podemos moverlo hacia 
donde nosotros queramos. Por otro lado absolute aqui lo que hace el absoluto es salirse de la section y 
posicionarse tomando de referencia el body, esto no afecta el espacio de cualquier objeto que este puesto 
alli y se posiciona encima como que no hubiera nada. Tambien se puede ocupar las propiedades para mover 
arriba, abajo, derecha izquierda.*/

/*A partir de los resultados obtenidos, responda ¿Cuál es la diferencia entre ocultar los elementos
ocupando display: none y visibility: hidden?
La diferencia es que con visibility: hidden en objeto mantiene su lugar pero se hace invisible y los otros
objetos no toman su lugar. Mientras que con display:none practicamente desaparece y los demas objetos se organizan
para ponerse en orden y tomar el lugar del objeto desaparecido.*/